[submodule "lib/glitchedhttps"]
	path = lib/glitchedhttps
	url = https://github.com/GlitchedPolygons/glitchedhttps
[submodule "lib/cecies"]
	path = lib/cecies
	url = https://github.com/GlitchedPolygons/cecies
[submodule "lib/pwcrypt"]
	path = lib/pwcrypt
	url = https://github.com/GlitchedPolygons/pwcrypt.git
[submodule "lib/ed25519"]
	path = lib/ed25519
	url = https://github.com/GlitchedPolygons/GlitchEd25519.git
[submodule "lib/jsmn"]
	path = lib/jsmn
	url = https://github.com/zserge/jsmn
